<%= form_for(@user) do |f| %>
  <% if @user.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @user.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
  メールアドレス:
  <%= f.text_field :email, class: 'form-control' %>

  プロファイル:
  <%= f.text_area :biography, class: 'form-control' %>

  国:
  <%= f.text_field :country, class: 'form-control' %>
  
  都道府県:
  <%= f.text_field :state, class: 'form-control' %>
  
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>


