<h1>View My Account</h1>
<div>
  <%= gravatar_for @user %>
  <%= @user.name %>
  <%= @profile.biography %>
  <%= @profile.country %>
  <%= @profile.state %>
   (<%= link_to "edit" , edit_user_path(user) %>
</div>
